<template>
	<view class="content">
		<view class="narbar">
			<!-- 自定义导航组件 -->
			<narbar></narbar>
			<!-- 自定义导航栏组件 -->
			<tab class="tabs" :list='tablist' @tab="tab" ref="tab" :tabIndex="tabIndex"></tab>
		</view>
		<view class="home-list">
			<list class="list" :tablist='tablist' :activeIndex='activeIndex' @change="change"></list>
		</view>
			
	</view>
</template>

<script>
	export default {
		data() {
			return {
				tablist: [
					{ name: 'JAVA' },
					{ name: 'PHP' },
					{ name: 'VUE' },
					{ name: 'REACT' },
					{ name: 'HTML5' },
					{ name: 'CSS3' },
					{ name: 'VUE' },
					{ name: 'REACT' },
					{ name: 'HTML5' },
					{ name: 'JAVASCRIPT' }
				],
				tabIndex:0,
			    activeIndex:0,
			}
		},
		onLoad() {

		},
		methods: {
			tab({data,index}){
				
				this.activeIndex= index
			},
			change(current){
				this.tabIndex = current
				this.activeIndex = current
				this.$refs.tab.viewId = 'achor' + current
			}
		}
	}
</script>

<style lang="scss" scoped>
	.content{
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}
	.home-list{
		box-sizing: border-box;
		flex: 1;
	}
	.list{
		// height: 100%;
		height: 100%;
	}
</style>


