<template>
	<view class="container">
		<swiper class="swiper" :duration="300" @change="change" :current="activeIndex">
			<swiper-item class="swiper-item" v-for="(items,indexs) in tablist.length" :key="indexs" >
				<!-- <scroll-view class="scroll-view"> -->
					 <list-card :mode="item.mode" v-for="(item,index) in modelist" :key="index"></list-card>			
				<!-- </scroll-view> -->
			</swiper-item>	
		</swiper>
	</view>
</template>

<script>
	export default {
		props:{
			tablist:{
				type:Array,
				default(){
					return []
				}
			},
			// "activeIndex"
			activeIndex:{
				type:Number,
				default:0
			}
		},
		data() {
			return {
				modelist:[
					{mode:'base'},
					{mode:'image'},
					{mode:'base'},
					{mode:'image'},
					{mode:'base'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},	
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'column'},
					{mode:'base'},
				]
			};
		},
		methods:{
			change(val){
				// console.log(val)
				const {current} = val.detail;
				this.$emit("change",current)
			}
		}
	}
</script>

<style lang="scss" scoped>
.container {
	height: 100%;
}
	.swiper{
		list-style: none;
		height: 100%;
		
	}
	.swiper-item{
		overflow: auto;
		
	}

	
</style>