<template>
	<view class="navbar">
		<view class="navbar-fixed">
			<!-- 状态栏 -->
			<view :style="{height:statusBarHeight+'px'}"></view>
			<!-- 导航栏内容 -->
			<view class="navbar-content" :style="{height: navBarHeight+'px',width:windowWidth+'px'}">
				<view class="navbar-serach">
					<view class="navbar-serach_icon">
						<uni-icons type="search"></uni-icons>
					</view>
					<view class="navbar-serach_text">uni-app、vue、react</view>
				</view>
			</view>
		</view>
		<view :style="{height: statusBarHeight+navBarHeight+'px'}"></view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				statusBarHeight:20,
				navBarHeight:45,
				windowWidth:375
			};
		},
		created() {
			this.onload()
		},
		methods:{
			onload(){
				// 获取手机信息
				const info= uni.getSystemInfoSync()
				this.statusBarHeight=info.statusBarHeight
				this.windowWidth=info.windowWidth
				// #ifndef H5 || APP-PLUS || MP-ALIPAY
				// 获取胶囊位置
				const menuButtonInfo=uni.getMenuButtonBoundingClientRect()
				this.navBarHeight=(menuButtonInfo.bottom-info.statusBarHeight)+(menuButtonInfo.top-info.statusBarHeight)
				this.windowWidth=menuButtonInfo.left
				// #endif
			}
		}
	}
</script>

<style lang="scss">
.navbar{
	
	.navbar-fixed{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		background-color: $mk-base-color;
		.navbar-content{
			padding: 0 30rpx;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			.navbar-serach{
				display: flex;
				align-items: center;
				width: 100%;
				height: 60rpx;
				border-radius: 60rpx;
				padding: 0 20rpx;
				background-color: #fff;
				.navbar-serach_icon{
					margin-right: 20rpx;
				}
				.navbar-serach_text{
					font-size: 24rpx;
					color: #999;
				}
			}
		}
	}
}
</style>


