<template>
	<view class="container">
		<view class="sticky-top">
			<scroll-view class="scroll-view" scroll-x="true" :show-scrollbar="true" :scroll-left="scrollLeft" scroll-with-animation>
				<view
					class="scroll-item"
					v-for="(item, index) in list"
					:id="'achor' + index"
					:key="index"
					@click="ClickTab(item, index)"
					:class="{ active: activeIndex === index }"
				>
					{{ item.name }}
				</view>
			</scroll-view>
			<view class="a"></view>
			<view class="uni-icons"><uni-icons type="gear" size="26" color="#666"></uni-icons></view>
		</view>
	</view>
</template>

<script>
export default {
	props: {
		list: {
			type: Array,
			default() {
				return [];
			}
		},
		tabIndex: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			activeIndex: 0,
			viewId: 'achor0',
			scrollLeft: 0,
			screenWidth: 0
		};
	},
	watch: {
		tabIndex(newval) {
			this.activeIndex = newval;
		}
	},
	mounted() {
		const { screenWidth } = uni.getSystemInfoSync();
		this.screenWidth = screenWidth;
		console.log(screenWidth, 123);
	},
	methods: {
		ClickTab(item, index) {
			this.activeIndex = index;
			this.$emit('tab', {
				data: item,
				index: index
			});
			const arr = new Array(index + 1).fill(1);
			console.log(arr);
			let width = 0;
			arr.map((item, i) => {
				console.log(i);
				const query = uni.createSelectorQuery().in(this);
				query
					.select(`#achor${i}`)
					.boundingClientRect(data => {
						console.log(width);
						width += data.width;
					})
					.exec();
			});
			setTimeout(() => {
				if (width > this.screenWidth / 2) {
					this.scrollLeft = width - this.screenWidth / 2;
				}else {
					this.scrollLeft = 0
				}
			}, 10);
		}
	}
};
</script>

<style lang="scss" scoped>
.sticky-top {
	width: 100%;
	height: 80rpx;
	display: flex;
	border-bottom: 2rpx solid #e3e3e3;
	background-color: #fff;
}
.scroll-view {
	/* overflow-x: none; */
	white-space: nowrap;
	width: 86%;
	/* border: 2rpx solid; */
	height: 100%;
}

.scroll-item {
	display: inline-block;
	padding: 0 20rpx;
	height: 100%;
	font-size: 32rpx;
	line-height: 80rpx;
}
.a {
	width: 3%;
	height: 50%;
	margin: 20rpx 0;
	/* border: 2rpx solid; */
	border-right: 2rpx solid #ccc;
}
.uni-icons {
	margin: auto;
}
.active {
	color: red;
}
</style>
